@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  .styled-table .delete-button{
    border-color:transparent;
  }
  .styled-table th {
    background-color: #f2f2f2;
  }
  .icon {
    display: inline-block;
    width: 65px;
    height: 30px;
    border-radius: 50%;
    background-color: #EF2D56; /* You can change the background color as per your design */
    color: #f2f2f2;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }
  .styled-table img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image within its cell */
  }
  